@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}


header {
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 90px;
    height: 5rem;
    color: white;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    padding: 0 30px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    position: relative;
    font-family: 'jost', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

nav ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    bottom: -0.5rem;
    border-bottom: 2px solid red;
    transition: 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

.logo {
    font-weight: 900;
    font-size: 2rem;
    font-family: 'jost', sans-serif;
    color: black;
    cursor: pointer;

}

nav span {
    display: none;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}

.show {
    display: block;
    background: rgba(0, 0, 0, 0.600);
    color: #fff;
    position: absolute;
    top: 80px;
    right: 0px;
    padding: 20px 10px;
    width: 100vw;
    text-align: center;
    height: calc(100vh - 5rem);
    overflow: hidden;
    transition: 0.3s ease;
}

.hero-container {
    width: 100%;
    height: calc(100vh - 5rem);
    background-image: url(assets/bg-img.jpeg);
    background-position: center;
    background-size: cover;
}

.over {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.inside-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inside-container h2 {
    font-size: 3rem;
    color: #fff;
}

.inside-container h2 span {
    color: yellow;
}

.hero-container p {
    color: grey;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.hero-container button {
    padding: 0.8rem 1.9rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    background-color: yellow;
    color: black;
    font-weight: 700;
    margin-top: 2rem;
    transition: 0.3s;
    display: flex;
}

.hero-container button:hover {
    background-color: black;
    color: white;
}

.main-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(105, 105, 105, 0.139);
    padding: 2rem 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}




.card {
    width: 22%;
    height: 25rem;
    color: aliceblue;
    margin-top: 3rem;
    box-shadow: 0 0 10px 3px black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

.card:hover {
    transform: translateY(-20px);
}

.image-container {
    width: 100%;
    height: 50%;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.card p {
    color: black;
    text-align: center;
    font-family: 'jost', sans-serif;
    font-weight: 600;
}

.card h5 {
    color: black;
    text-align: center;
    font-weight: 900;
    font-family: 'jost', sans-serif;
}

.card button {
    padding: 0.5em 1rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(34, 128, 0);
    color: white;
    cursor: pointer;
    font-family: 'jost', sans-serif;
    font-weight: 700;
    transition: 0.3s;
}

.card button:hover {
    background-color: darkgreen;
}

@media (max-width: 768px) {

    .hero-container {
        height: calc(100vh - 5rem);
    }

    .over {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 1.2rem;
    }

    .inside-container {
        width: 90%;
    }

    .inside-container h2 {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .hero-container p {
        font-size: 0.95rem;
    }

    .hero-container button {
        padding: 0.5rem 1.2rem;
        font-size: 0.95rem;
    }
}


@media (max-width: 1000px) {
    nav ul {
        display: none;
        position: relative;
        z-index: 3;
        transition: 0.4s;
    }

    nav ul li {
        margin-top: 1.2rem;
        cursor: pointer;
        color: #fff;
    }

    nav ul li a {
        color: #fff;
    }

    nav span {
        display: block;
    }

    nav {
        padding: 0 1rem;
    }

    .hero-container {
        height: calc(100vh - 5rem);
    }

    .over {
        flex-direction: column;
        padding: 2.5rem 1.5rem;
    }

    .inside-container h2 {
        font-size: 2rem;
    }

    .hero-container p {
        font-size: 1rem;
    }

    .hero-container button {
        padding: 0.6rem 1.5rem;
        font-size: 1rem;
    }
     .card {
        width: 45%;
        margin-bottom: 2rem;
    }
}





@media (max-width: 600px) {
    .card {
        width: 90%;
    }
}